---
import BasicLayout from "../layouts/BasicLayout.astro";
import Title from "../components/Title.astro";
import List from "../components/List.astro";
import { getCollection } from "astro:content";
import { TITLE } from "../GLOBALS.astro";
import Asciiart from "../components/Asciiart.astro";
import Gradient from "../components/Gradient.astro";

const allBlogEntries = await getCollection("post");

const allBlogEntriesGroupedByYear = allBlogEntries.reduce((acc, post) => {
	const year = new Date(post.data.date).getFullYear();
	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(post);
	return acc;
}, {});

const sortedYears = Object.keys(allBlogEntriesGroupedByYear).sort(
	(a, b) => Number(b) - Number(a),
);
---

<BasicLayout title={TITLE}>
	<div class="title-anim-wrap py-4" style="position: relative; ">
        <Title title={TITLE.toLowerCase()} />
		<Gradient/>
        <Asciiart/>
    </div>
	{
		sortedYears.map((year) => (
			<List
				items={allBlogEntriesGroupedByYear[year].sort(
					(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
				)}
				type="posts"
				title={year}
			/>
		))
	}
</BasicLayout>
