---
import Badge from "./Badge.astro";

const { badges } = Astro.props;
---

<div class="flex flex-wrap gap-2 py-1 font-mono">
    {badges.map((badge) => {
        return <Badge href={`/tags/${badge}`} title={badge}/>
    })}
</div>