---
import { TITLE } from "../GLOBALS.astro";
import Gifs from "./Gifs.astro";
import Socials from "./Socials.astro";

const {showgifs} = Astro.props

const year = new Date().getFullYear();
---

<section class="items-start py-6">
    <Socials />
    {showgifs && <Gifs />}
    <a class="font-mono hover:underline text-sm" href="/">{TITLE}</a>, {year}
</section>
