---
import { gifs } from "../GLOBALS.astro"
---

<div class="flex flex-wrap gap-2 py-2">
    {gifs.map((item) => (
        <a href={item.href}>
            <img src={item.src} alt={item.alt}/>
        </a>
    ))}
</div>