---

---

<div class="flex gap-4 py-2">
    <a href="https://www.bdsmovement.net/Guide-to-BDS-Boycott">
        <img src="images/riversea.gif">
    </a>
    <a href="/">
        <img src="images/linux-8831.png">
    </a>
    <a href="https://www.haskell.org/?uwu=true">
        <img src="images/fun_haskell.png">
    </a>
</div>