---
import Social from "./Social.astro";

const socials = [
    { title: "kleinertrompeter [at] proton [dot] me", link: "", bold: true },
    { title: "Posts", link: "/posts" },
    { title: "Tags", link: "/tags" },
    { title: "Resume", link: "/"}
];
---

<div class="flex flex-wrap gap-x-8">
    {
        socials.map((item) => (
                <Social
                    title={item.title}
                    link={item.link}
                    bold={item.bold ? true : false}
                />
        ))
    }
</div>
