---
const {title} = Astro.props
---

<header class="flex flex-col gap-4 items-start mt-0 border-b border-gray-100">
    <h1 class="font-serif text-4xl md:text-6xl leading-tight hyphens-auto break-words">
        {title}
    </h1>
</header>

<style>
    h1 {
        hyphens: auto;
    }
</style>