---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

const year = new Date().getFullYear()
---

<html lang="en-US">
	<Head title={title} />
	<body class="bg-white dark:bg-black">
		<div class="flex w-full items-center flex-col gap-2 p-4 text-dark dark:text-white">
			<div class="w-full max-w-lg">
				<slot />
				<Footer/>
			</div>
		</div>
	</body>
</html>
